$border-radius: 10px;

@mixin theme($theme: centered) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
}

@mixin btn($theme: btn-theme) {
  border: 1px solid rgb(26, 122, 26);
  background-color: rgb(34, 173, 34);
  padding: 10px;
  letter-spacing: 1px;
  font-size: 0.9rem;
  color: white;
  font-weight: 500;
  border-radius: 25px;
}
