.dashboard-wrap {
  @include theme($theme: centered);

  max-width: 1050px;
  width: 350px;
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;

  h1 {
    margin-bottom: 20px;
  }

  .playlist-container {
    padding-top: 15px;
    height: 400px;
    max-height: 650px;
    overflow-y: auto;
  }

  .rules-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: white;
    background: transparent;
    border: none;

    .fa-bars {
      margin-left: 10px;
      cursor: pointer;
      font-size: 1.2rem;
      transition: all 0.3s linear;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }
}
