.game-wrapper {
  @include theme($theme: centered);
  max-width: 500px;
  position: relative;
  margin: 0 auto;

  .dashboard-return {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 25px;
    left: 15px;

    .fa-chevron-left {
      margin-right: 5px;
    }
  }
  h1 {
    text-align: center;
  }

  .game-btn {
    @include btn($theme: btn-theme);
    margin-bottom: 10px;
  }

  .game-info {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .game-info-list {
      margin-left: 15px;

      list-style-type: none;

      li {
        margin-bottom: 5px;
      }
    }
  }
}
