.dashboard-return {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 25px;
  left: 15px;

  .fa-chevron-left {
    margin-right: 5px;
  }
}

.btn-spotify {
  color: white;
  background: black;
  font-size: 1.6rem;
  border: none;
}
