@import "_config";
@import "_login";
@import "_dashboard";
@import "_game";
@import "_winningTrackInfo";
@import "_webPlayback";
@import "_rules";
@import "_list-item";
@import "_choice";
@import "_error";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}
